@font-face {
    font-family:'Linescript';
    src: url('https://virj280.github.io/farlands/font-thing-idk/Linescript.eot');
    src: url('https://virj280.github.io/farlands/font-thing-idk/Linescript.eot?#iefix') format('embedded-opentype'),
        	url('https://virj280.github.io/farlands/font-thing-idk/Linescript.ttf') format('truetype'),
	    	url('https://virj280.github.io/farlands/font-thing-idk/Linescript.otf') format('opentype'),
		url('https://virj280.github.io/farlands/font-thing-idk/Linescript.woff2') format('woff2'),
		url('https://virj280.github.io/farlands/font-thing-idk/Linescript.woff') format('woff'),
}
